:root {
  --body-width: 1080px;
  --body-width-margin: max(16px, calc((100vw - 1080px) / 2 + 8px));
  --h1-size: 7.2rem;
  --h2-size: 4.8rem;
  --h3-size: 3.2rem;
  --h4-size: 2.4rem;
  --h5-size: 1.8rem;
  --small-text: 1.5rem;
  --primary1: #e9ede5;
  --primary2: #B1C0B3;
  --accent1: #794a3f;
  --accent2: #511407;
  --accent3: #3f1911;
  --gray700: #343734;
  --gray900: #1f201e;
  --border-radius: 2.5px;
  /* --body-font: 'MinionPro', sans-serif; */
  /* --body-font: "Oswald", sans-serif; */
  --body-font: "Noto Sans", sans-serif;
  --heading-font:  "Apple Chancery", sans-serif;
  /* --heading-font:  "Playfair Display", serif; */
  --body-color: var(--primary2);
  --shadow-light: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-medium: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
  --nav-height-thin: 100px;
  --nav-height-wide: 135px;
}

@font-face {
  font-family: 'Apple Chancery';
  font-style: normal;
  font-weight: normal;
  src: local('/fonts/Apple Chancery'), url('/fonts/Apple Chancery.woff') format('woff');
}

/*#region base*/
* {
  box-sizing: border-box !important;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-style: normal;
}

@media all and (max-width: 800px) {
  html {
    font-size: 56.25%;
  }
}

/* for custom modal, delete if a library is used instead */
:root:has(.no-document-scroll) {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  transition: opacity;
  transition-duration: 400ms;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.no-document-scroll .overlay {
  cursor: pointer;
  opacity: 0.6;
  pointer-events: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.7rem;
  font-family: var(--body-font);
  background-color: #ebe8e0;
  background-color: #dedfde;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* not ideal but needed for the mobile menu */
}

main {
  width: 100%;
  position: relative;
  flex-grow: 1;
}

img {
  max-width: 100%;
}


h1,
.h1 {
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: var(--h1-size);
  margin-bottom: 4rem;
}

h2,
.h2 {
  font-size: var(--h2-size);
  margin-bottom: 2rem;
}

h3,
.h3 {
  font-size: var(--h3-size);
  margin-bottom: 1.2rem;
}

h4,
.h4 {
  font-size: var(--h4-size);
  margin-bottom: 1rem;
}

h5,
.h5 {
  font-size: var(--h5-size);
  font-weight: bold;
}

p {
  margin-top: 0;
  line-height: 1.7;
}

input,
textarea {
  all: unset;
  background-color: rgb(227, 227, 227);
  border-radius: 4px;
  color: black;
}

input {
  padding: 0 0.625em;
  height: 4rem;
}
textarea {
  padding: 0.625em;
}

button {
  min-width: 200px;
  font-family: var(--body-font);
  font-size: 14px;
  border: none;
  color: #000;
  background-color: var(--accent2);
  padding: 1.2rem 3rem;
  box-shadow: var(--shadow-light);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: var(--border-radius);
}
button,
[role='button']:hover {
  cursor: pointer;
}
button:hover {
  background-color: var(--accent3);
}
a,
a:visited {
  color: var(--accent1);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--accent3);
}

li {
  margin-bottom: 0.5em;
}
ul, ol {
  margin-top: 1rem;
}
/*#endregion base*/

/*#region layout helper*/
.body-width {
  max-width: var(--body-width);
  margin: auto;
  padding: 0 16px;
}

.section {
  padding-top: 8rem;
}
.section-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-heading-text {
  text-align: center;
  color: white;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.section-heading-text:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: var(--accent1);
  border-radius: var(--border-radius);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.unstyled-input {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  box-shadow: none;
}

.nav-height-padding {
  padding-top: var(--nav-height-thin);
}
@media screen and (min-width: 730px) {
  .nav-height-padding {
    padding-top: var(--nav-height-wide);
  }
}

.reading-width {
  max-width: 600px;
}
/*#endregion layout helper*/

