---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import gina from '../images/gina.jpg'
---

<style>
  .gina-image {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    width: auto;
  }
</style>
<BaseLayout pageBackground>
  <article class="body-width">
    <h1>About Belle Maison</h1>
    <figure class="gina-image" >
      <Image src={gina} alt="Gina Schorr" style="height: 200px; width: auto"/>
      <figcaption>Gina Schorr, owner</figcaption>
    </figure>
    <p>
      Everyone who comes to Belle Maison has a <strong>vision</strong> of how they want their lifestyle
      reflected in their home. At Belle Maison, we believe in making those visions a
      reality. By combining <strong>form, function, color, and texture,</strong> we collaborate with you to
      create a beautiful and comfortable living space that truly feels like home.
    </p>
    <p>
      With over <strong>20 years</strong> of interior design experience, Belle Maison has the expertise and
      passion to transform your home into a welcoming and timeless environment. We bring a
      keen awareness of what it takes to create lasting designs, utilizing texture, color,
      lighting, textiles, and interior finishes. <strong>Your home should reflect who you are</strong>—not
      your designer. We consider both form and function to craft a space that represents
      you and enhances every aspect of your life. <strong>Your home is your castle</strong>, and it should
      always surround you with beauty, comfort, and calm.
    </p>

    <h2>Our Process</h2>
    <p>
      At Belle Maison, we know that no two clients are alike. Your needs and tastes are
      unique, so <strong>we don’t believe in a one-size-fits-all solution</strong>. Our process begins with
      a face-to-face meeting where we get to know you and your vision. We’ll ask
      questions, brainstorm ideas, explore all possibilities, and discuss a budget that
      works for you.
    </p>
    <p>
      Together, we’ll define your starting point and develop a customized plan to
      transform your home into the <strong>functional</strong> and <strong>beautiful</strong> space you’ve envisioned. From
      initial concepts to the final touches, we’ll guide you through every step, ensuring
      that your design goals become a reality.
    </p>
  </article>
</BaseLayout>
