---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import image from '../images/IMG_9756small.webp'
---

<style>
	.contact-container {
		display: flex;
	}
  .color-image {
    max-width: 40%;
    height: auto;
		margin-left: auto;
  }
</style>
<BaseLayout pageBackground>
  <div class="contact-container body-width">
    <!-- <p>
    Please leave your contact info and a message or question and I’ll contact you as soon
    as possible.
  </p> -->
    <div>
			<h1>Contact</h1>
      <p>
        Please send a message or question and I’ll get back to you as soon as possible.
      </p>

      <p>
        <a href="email:Gina@BelleMaisonInteriorDesign.com"
          >Gina@BelleMaisonInteriorDesign.com</a
        >
      </p>
      <p><a href="tel:206-819-3331">206.819.3331</a></p>
    </div>
		<Image src={image} alt="" class="color-image" />

  </div>
</BaseLayout>
