---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'

import vertImage from '../images/IMG_5539.webp'
---

<style>
  .hero {
    background-image: url('../images/IMG_9761.webp');
    background-size: cover;
    height: min(80vw, 800px);
    background-position: center;
  }
  .main-content {
    padding: 4rem 2rem;
  }
  .block {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .first-block {
    display: flex;
    gap: 4rem;
  }
  .vert-image {
    max-width: 35%;
    height: auto;
  }
</style>
<BaseLayout noNavSpace>
  <div class="hero nav-height-padding"></div>
  <div class="main-content">
    <article class="body-width block">
      <div class="first-block">
        <div>
          <h2 style="margin-top: 0">Welcome to Belle Maison</h2>
          <p><strong>We believe that comfort is the ultimate luxury</strong></p>
          <p class="reading-width">
            At Belle Maison Interior Design, we are dedicated to helping you achieve your
            ultimate design goals. Our approach blends warm, inviting colors, textures,
            and fabrics to create spaces that are not only luxurious but also deeply
            comfortable. We’re here to explore and visualize the perfect solutions that
            reflect your unique style and elevate your home.
          </p>
        </div>
        <Image
          src={vertImage}
          class="vert-image"
          alt="elegantly decorated bathroom with abstract painting on the wall, decorative cases, and wonderful light over a hardwood floor"
        />
      </div>

      <hr />

      <h3 style="clear: both;">Talk with Us About:</h3>
      <ul>
        <li>
          <strong>Color Consultations:</strong> Creating palettes that resonate with your vision.
        </li>
        <li>
          <strong>Space Planning:</strong> Maximizing functionality while enhancing aesthetics.
        </li>
        <li>
          <strong>Lighting Selection and Placement:</strong> Setting the perfect ambiance.
        </li>
        <li>
          <strong>Window Treatments:</strong> Custom designs that complement your space.
        </li>
        <li>
          <strong>Custom Furniture and Upholstery:</strong> Tailored pieces that fit your style.
        </li>
        <li>
          <strong>Kitchen and Bath Remodels:</strong> Transforming these spaces into elegant,
          functional areas.
        </li>
        <li>
          <strong>Floor Coverings:</strong> Expert selection of tile, stone, carpet, hardwood,
          and more.
        </li>
        <li>
          <strong>Rug Selection and Placement:</strong> Choosing and placing the perfect rugs
          for any room.
        </li>
        <li>
          <strong>Furniture Selection and Placement:</strong> Curating and arranging pieces
          to harmonize with your space.
        </li>
        <li>
          <strong>Room Re-Designs:</strong> Refreshing your space by rearranging existing furniture
          and accessories.
        </li>
        <li>
          <strong>Art and Accessories:</strong> Selecting and placing art and accessories that
          complete your design.
        </li>
      </ul>
    </article>
  </div>
</BaseLayout>
