---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style>
  .hero {
    background-image: url('../images/IMG_9761.webp');
    background-size: cover;
    height: min(80vw, 800px);
    background-position: center;
  }
  .main-content {
    padding: 4rem 2rem;
    background-color: white;
  }
</style>
<BaseLayout noNavSpace>
  <div class="hero nav-height-padding"></div>
  <div class="main-content">
    <article class="body-width">
      <p>We consider comfort to be the greatest luxury.</p>
      <p>
        Belle Maison Interior Design will explore and visualize solutions to help you
        achieve your ultimate design goals. We will help you create a comfortable,
        luxurious environment using a mixture of warm and inviting colors, textures and
        fabrics.
      </p>
      <h2>Talk with Us About:</h2>
      <ul>
        <li>Color consultations</li>
        <li>Space planning</li>
        <li>Lighting selection and placement</li>
        <li>Window treatments</li>
        <li>Custom furniture and upholstery</li>
        <li>Kitchen and bath remodels</li>
        <li>Floor coverings: tile, stone, carpet, hardwood etc.</li>
        <li>Rug selection and placement</li>
        <li>Furniture selection and placement</li>
        <li>Room re-designs (rearranging your existing furniture and accessories).</li>
        <li>Selection and placement of art and accessories</li>
      </ul>
    </article>
  </div>
</BaseLayout>
