---
const { img } = Astro.props
---

<style>
  .hero {
    background-size: cover;
    height: min(120vw, 800px);
    background-position: center;
    border-bottom: 1rem solid var(--primary2)
  }
</style>
<!-- annoyingly, images need to be in the public folder for this method to work -->
<div class="hero nav-height-padding" style={`background-image: url(${img})`}></div>
