---
import email from '../images/icons/email.svg'
import phone from '../images/icons/phone.svg'
import { Image } from 'astro:assets'
const { name = true } = Astro.props
---
<style>
    .contact-info {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .contact-info > img {
    margin-top: -2px;
  }
</style>

{name ? <h4 style="margin-top: 0;">Gina Schorr</h4> : null}
<a class="contact-info" href="tel:206-819-3331"><Image src={phone} alt="phone" /><div>206.819.3331</div></a>

<a class="contact-info"  href="mailto:Gina@BelleMaisonInteriorDesign.com"
  ><Image src={email} alt="email" /><div>Gina@BelleMaison<wbr />InteriorDesign.com</div></a
>