---
const { title } = Astro.props
---

<style>
  .mini-banner {
    height: min(100vw, 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    position: relative;
    margin-bottom: 8rem;
    border-bottom: 1rem solid var(--primary2)
  }
  .bg-image {
    background-image: url('/banner/lodge2.webp');
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: brightness(70%) contrast(0.7) saturate(1.5);
    z-index: -1;
  }
  .heading {
    color: white;
    margin-top: -2rem;
  }
</style>

<div class="mini-banner nav-height-padding">
  <div class="bg-image" ></div>
  <h1 class="heading body-width">{title}</h1>
</div>
