---
import logo from '../images/logo/logo.jpg'
import { Image } from 'astro:assets'
import ContactInfo from '../components/ContactInfo.astro'
---

<div class="nav-wrapper">
  <nav class="nav">
    <div class="nav-logo">
      <a href="/">
        <Image src={logo} alt="Home" class="nav-logo-image" />
      </a>
    </div>
    <button class="hamburger unstyled-input">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <div class="spacer" />
    <div class="menu-container">
      <div class="nav-links">
        <a href="/about/">About</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/testimonials/">Testimonials</a>
        <a href="/contact/">Contact</a>
        <div class="nav-contact-info">
          <ContactInfo name={false} />
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
  function toggle() {
    document.querySelector('body')?.classList.toggle('no-document-scroll')
    document.querySelector('.nav')?.classList.toggle('expanded')
  }
  document.querySelector('.overlay')?.addEventListener('click', toggle)
  document.querySelector('.hamburger')?.addEventListener('click', toggle)
</script>

<style>
  .nav-wrapper {
    width: 100%;
    z-index: 1;
    height: var(--nav-height-thin);
    position: absolute;
  }
  .nav {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  .nav-logo {
    margin-left: var(--body-width-margin);
  }
  .nav-logo-image {
    width: 122px;
    padding: 0.5rem;
    background-color: white;
    border: 2px solid var(--accent2);
    height: auto;
  }
  .nav-links {
    width: 100%;
    display: flex;
  }

  .nav-links > a {
    font-weight: 300;
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: rgb(24, 24, 24);
    font-family: var(--heading-font);
  }

  .nav-links > a:hover,
  .nav-links > a:focus {
    background-color: #a5a5a591;
  }

  .nav-contact-info {
    display: none;
  }

  /* doing both a max width and min width in this file is sloppy, but it's fewer total rules */
  @media screen and (max-width: 635px) {
    .hamburger {
      z-index: 110;
      position: absolute;
      right: 20px;
      top: 20px;
      min-width: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 6rem;
      width: 7rem;
      padding: 1rem;
      border-radius: 0;
    }
    .hamburger:hover,
    .hamburger:focus {
      background-color: transparent;
    }

    .hamburger > .line {
      display: block;
      height: 3px;
      width: 100%;
      background-color: white;
      transform-origin: top left;
      transition: opacity, transform, background-color;
      transition-duration: 200ms;
    }
    .expanded .line:first-child {
      background-color: black;
      transform: rotateZ(45deg) translateX(6px) translateY(-6.5px);
    }
    .expanded .line:nth-child(2) {
      opacity: 0;
    }
    .line:last-child {
      transform-origin: bottom left;
    }
    .expanded .line:last-child {
      background-color: black;
      transform: rotateZ(-45deg) translateX(6px) translateY(3px);
    }
    .menu-container {
      position: absolute;
      top: 0;
      right: 0;
      width: min(80%, 300px);
      height: 100vh;
      overflow: hidden;
    }
    .nav-links {
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      z-index: 100;
      top: 0;
      right: 0;
      padding-top: 10rem;
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      background-color: white;
      height: 100vh;
      border-left: 5px solid var(--primary2);
      transform: translateX(100%);
      transition: transform;
      transition-duration: 400ms;
    }
    :not(.expanded) .nav-links:focus-within {
      transition-duration: 0ms;
      transform: translateX(0%);
    }
    .expanded .nav-links {
      transform: translateX(0%);
    }
    .nav-links > a {
      flex-grow: 0;
      padding: 2rem;
      width: 100%;
    }
    .nav-contact-info {
      display: flex;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      padding: 3rem 2rem 5rem 2rem;
      font-size: 1.8rem;
    }
  }

  @media screen and (min-width: 636px) {
    .spacer {
      flex-grow: 1;
      flex-basis: 3rem;
    }
    .menu-container {
      flex-grow: 1;
    }
    .nav-links {
      padding: 0;
      padding-right: var(--body-width-margin);
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 85px;
      background: rgba(255, 255, 255, 0.7);
    }

    .nav-links > a {
      height: 100%;
      line-height: 85px;
      display: inline-block;
      padding: 0 1rem;
    }
    .hamburger {
      display: none;
    }
    .nav-logo-image {
      width: 172px;
    }
  }
  @media screen and (min-width: 730px) {
    .nav-wrapper {
      height: var(--nav-height-wide);
    }

    .nav-links > a {
      padding: 0 2rem;
    }
  }
</style>
