---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html lang="en">
<html>
  <head>
    <meta charset="utf-8" />
    <title>Belle Maison Interior Design</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#515853" />
    <meta name="msapplication-TileColor" content="#515853" />
    <meta name="theme-color" content="#515853" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />

    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Gina Schorr" />
    <meta
      name="description"
      content="Belle Maison Interior Design, led by Gina Schorr, offers luxury interior design services in the Seattle area. We specialize in creating beautiful, comfortable spaces that reflect your personal style."
    />
    <meta
      name="keywords"
      content="Belle Maison Interior Design, interior design Seattle, luxury interior design, space planning, kitchen remodeling, bathroom remodeling, color consultations, custom window treatments, art selection, staging"
    />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:title"
      content="Belle Maison Interior Design - Seattle's Premier Interior Design Firm"
    />
    <meta
      property="og:description"
      content="For over a decade, Belle Maison Interior Design has been dedicated to delivering luxury, beauty, and comfort in every project. Let us bring your vision to life."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bellemaisoninteriordesign.com/" />
    <meta
      property="og:image"
      content="https://bellemaisoninteriordesign.com/apple-touch-icon.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Belle Maison Interior Design" />
    <meta
      name="twitter:description"
      content="Belle Maison Interior Design, led by Gina Schorr, specializes in creating beautiful, personalized spaces in the Seattle area."
    />
    <meta
      name="twitter:image"
      content="https://bellemaisoninteriordesign.com//apple-touch-icon.png"
    />

  </head>
  <body>
    <div class="overlay"></div>
    <Navigation />
    <main>
      <div>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
