---
import MiniBanner from '../components/MiniBanner.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
const { title } = Astro.props.frontmatter
---

<BaseLayout title={title}>
  <MiniBanner title={title} />
  <div class="body-width">
    <slot />
  </div>
</BaseLayout>
